<nz-result nzStatus="success" nzTitle="Order Placed">

    <div nz-result-content nz-row>
        <div class="desc" nz-col nzSpan="24" style='text-align: center'>

            <p nz-paragraph>

                You can check your order status in My orders section

            </p>
            <h4 nz-title>Thanks for Choosing us for your Food!</h4>

        </div>
    </div>

    <div nz-result-extra>
        <button nz-button (click)='home()'>Home</button>
        <button nz-button nzType="primary" (click)='home()'>My Orders</button>
    </div>
</nz-result>