<div nz-row class="container">
    <div nz-col nzSpan="24" style='text-align: center'>

TDS for Month :: <nz-date-picker nzMode="month" [(ngModel)]="date" (ngModelChange)="onChange()" readonly></nz-date-picker>
   
</div>

</div>

<div nz-row> &nbsp; </div>

<ng-container *ngIf="!loading && tds && tds.length > 0">
    <!-- <div nz-row >
        <div nz-col nzSpan="24" style='text-align: left'>
    
            <button nz-button nzType="primary" (click)='download()' [nzLoading]='downloading'>
                Download Excel
            </button>
           
    
        </div>
    </div>
     -->
   
    
    </ng-container>


    
    <nz-table #basicTable nzShowPagination=false nzBordered [nzData]="tds" [nzLoading]="loading">
        <thead>
            <tr>
    
                <th> # </th>
    
                <th> Customer Id </th>
                <th> Customer Name </th>
                <th> PAN </th>
                <th> Email </th>
                <th> Contact </th>
                <th> City </th>
                <th> TDS </th>
    
    
            </tr>
        </thead>
    
        <tbody>
        <tr *ngFor="let data of tds; index as i">
    
            <td>{{ (i+1) }}</td>
            <td>{{ data.parentId }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.pan }}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.contact }}</td>
            <td>{{ data.city }}</td>
            <td>{{ data.tds }}</td>
           
    
        </tr>
    
    
    </tbody>
    </nz-table>
    