.coupon {
    border: 1px dashed lightslategray;
    border-radius: 15px;
    margin: 0 auto;
  }


.icon:hover {
    transform:scale(1.3);
}

.container
{
  padding: 0px;
  position: relative;

 
}

.redeembutton {
  margin: 0;
    text-align: center;
    color: blue;
    padding: 6px;
    font-weight: bold;
    border-radius:0 0 15px 15px;
    background-color: rgb(215, 238, 215);
    
  cursor: pointer;
}
.redeemnoteligible {
  margin: 0;
    text-align: center;
    color: red;
    padding: 6px;
    font-weight: bold;
    border-radius:0 0 15px 15px;
    background-color: rgb(215, 238, 215);
    
}

div.scrollmenu {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  overflow: auto;
  white-space: nowrap;
  width:120%;
  margin-left:-30px;
  padding-top: 0px;
}

div.scrollmenu div {
  display: inline-block;
  color: pink;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  padding-top: 10px;
}


