<section class="page-section bg-primary" id="about">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">We've got what you need!</h2>
        <hr class="divider divider-light" />
        <p class="text-white-75 mb-4">Start Bootstrap has everything you need to get your new website up and running in
          no time! Choose one of our open source, free to download, and easy to use themes! No strings attached!</p>
        <span class="btn btn-light btn-xl" (click)="open()">Subscribe</span>

        <nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="false" [nzHeight]="500" [nzVisible]="visible"
          nzPlacement="bottom" nzTitle="Subscribe to Take Off" [nzFooter]="footerTpl" (nzOnClose)="close()">
          <form nz-form *nzDrawerContent>
            <div nz-row [nzGutter]="8">
              <div nz-col nzSpan="12" style='text-align:center'>Name : </div>
              <div nz-col nzSpan="12"><input nz-input placeholder="please enter user name" /></div>

            </div>

            <div nz-row [nzGutter]="8">
              <div nz-col nzSpan="12">&nbsp;</div>

              <div nz-col nzSpan="12">&nbsp;</div>


            </div>


            <div nz-row [nzGutter]="8">
              <div nz-col nzSpan="12" style='text-align:center'>Contact Number (Whatsapp) : </div>

              <div nz-col nzSpan="12"><input nz-input placeholder="please enter Contact Number" /></div>



            </div>



            <div nz-row [nzGutter]="8">
              <div nz-col nzSpan="12">&nbsp;</div>

              <div nz-col nzSpan="12">&nbsp;</div>


            </div>



            <div nz-row [nzGutter]="8">
              <div nz-col nzSpan="12" style='text-align:center'>Email ID : </div>

              <div nz-col nzSpan="12"><input nz-input placeholder="please enter email id" /></div>

            </div>



            <div nz-row [nzGutter]="8">
              <div nz-col nzSpan="12">&nbsp;</div>

              <div nz-col nzSpan="12">&nbsp;</div>


            </div>



            <div nz-row [nzGutter]="8">

              <div nz-col nzSpan="12" style='text-align:center'>Referrer Code : </div>

              <div nz-col nzSpan="12"><input nz-input placeholder="please enter Referer code" /></div>



            </div>



            <div nz-row [nzGutter]="8">
              <div nz-col nzSpan="12">&nbsp;</div>

              <div nz-col nzSpan="12">&nbsp;</div>


            </div>





            <div nz-row [nzGutter]="8">

              <div nz-col nzSpan="12" style='text-align:center'>Password : </div>

              <div nz-col nzSpan="12"><input nz-input placeholder="please enter email id" /></div>

            </div>



            <div nz-row [nzGutter]="8">
              <div nz-col nzSpan="12">&nbsp;</div>

              <div nz-col nzSpan="12">&nbsp;</div>


            </div>
            <div nz-row [nzGutter]="8">
              <div nz-col nzSpan="12" style='text-align:center'>Confirm Password: </div>

              <div nz-col nzSpan="12"><input nz-input placeholder="please enter Referer code" /></div>



            </div>


          </form>

          <ng-template #footerTpl>
            <div style="float: right">
              <button nz-button style="margin-right: 8px;" (click)="close()">Cancel</button>
              <button nz-button nzType="primary" (click)="close()">Submit</button>
            </div>
          </ng-template>
        </nz-drawer>
      </div>
    </div>
  </div>

</section>