<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About Us</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <p>
            TakeOff aims to keep all online buyers smiling with its insightful,
             research-oriented user-centric content. 
             We hope that our coupons will be as essential as your daily shopping needs be. 
             TakeOff is one of the trustworthy city partners. 
             Our specific user interface and user experience are known for upholding consistent
              quality levels and We're here to give customers the most genuine and up-to-date
               discounts and offers at any given point in time.
               
          </p>
         
            <ul>
                <li><i class="ri-check-double-line"></i> Our coupons are simple to understand</li>
                <li><i class="ri-check-double-line"></i> Our coupons can be redeemed at your favourite stores around you</li>
                </ul>
          
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            Today, TakeOff may be your city's new player but we sure are excited to bring
                 the best to the city! We help to increase people 's engagement,
                  develop brand awareness and extend community outreach through our network partners.
                   Our network contains a wide variety of strategic partners and is intended to work
                    together in order to give end consumers the best offers.
                     TakeOff aims to partner with companies which delivers the best for our customers.
                      Let us aim to celebrate each offer and save on everything!
          </p>
        
            <ul>
                <li><i class="ri-check-double-line"></i> Our coupons are up-to-date and brings you exciting offers</li>
                 <li><i class="ri-check-double-line"></i> Users gets a notification when the new coupon gets listed on our site</li>
               </ul>
               
         
        </div>
      </div>
    
    </div>
  </section><!-- End About Us Section -->