<section id="why-us" class="why-us section-bg">
    <div class="container-fluid" data-aos="fade-up">
      <div class="row">
  
        <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
  
          <div class="content">
            <h3>Why to Choose TakeOff?</h3>
            <p>
              Our platform provides seamless Digital Coupon allocation and issuing, and use-as-you-move. And the platform
              has got a plethora of options for every kind of user who wants to relish their favorites. We believe in a
              win-win situation where business can save on costs while leveraging on digital technology to engage with
              hundreds of customers of theirs relishing products.
            </p>
          </div>
  
          <div class="accordion-list">
            <ul>
              <li>
                <a style='color: #fd6951;' data-bs-toggle="collapse" class="collapse"
                  data-bs-target="#accordion-list-1"><span>01</span> Our Local Partners <i
                    class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                  <p>
                    We are working with various partners across the city who are willing to bring exciting offers to the
                    consumers in the city.
                    Our local partners will provide you with new features based on the market trends and create special
                    coupons that can be up and running in just matter of minutes.
                  </p>
                </div>
              </li>
  
              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Coupon
                  Savings <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-2" class="collapse show" data-bs-parent=".accordion-list">
                  <p>
                    TakeOff ensures you always save big and enjoy your favourite products. Optimize your savings by
                    browsing our exclusive coupons by our partner stores. <br><br> TakeOff keeps you updated on our offers
                    and promotions.
                  </p>
                </div>
              </li>
  
              <li>
                <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> What
                  coupons are available? <i class="bx bx-chevron-down icon-show"></i><i
                    class="bx bx-chevron-up icon-close"></i></a>
                <div id="accordion-list-3" class="collapse show" data-bs-parent=".accordion-list">
                  <p>
                    TakeOff has a bank of coupons for almost all categories related to your favourite goods and shopping,
                    be that fashion, accessories, products, hotels, pizzas, restaurants and much more. We have coupons
                    from wide range of local partners from around the city. We have all here at TakeOff for you. Wish you
                    an exciting time ahead!
                  </p>
                </div>
              </li>
  
            </ul>
          </div>
  
        </div>
  
        <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img"
          style='background-image: url("assets/img/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
      </div>
  
    </div>
  </section>


