<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Products</h2>
            <p>We provide 6 different types of coupons to get best offers from local outlets.</p>
        </div>

        <div class="row">
            <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <h4><a href="">Complimentary Coupons</a></h4>
                    <p>Get free complimentaries from local outlets</p>
                </div>
            </div>

            <div class="col-lg-4" data-aos="zoom-in"
                data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4><a href="">Discount Coupons</a></h4>
                    <p>Get discounts like 30%, 50% off (or) offers like buy 2 get 2</p>
                </div>
            </div>

            <div class="col-lg-4" data-aos="zoom-in"
                data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4><a href="">Redeemable Coupons</a></h4>
                    <p>Get coupons with lower price compared to actual price</p>
                </div>
            </div>





        </div>

        <div class="row">
            &nbsp;
        </div>
        <div class="row">

            <div class="col-lg-4"  data-aos="zoom-in"
                data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-layer"></i></div>
                    <h4><a href="">Free Coupons</a></h4>
                    <p>Get free coupons from outlets</p>
                </div>
            </div>

            <div  class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <h4><a href="">Daily Deals</a></h4>
                    <p>Get amazing deals every day from outlets</p>
                </div>
            </div>

            <div class="col-lg-4" nzSpan="8" data-aos="zoom-in"
                data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4><a href="">Limited Coupons</a></h4>
                    <p>Grab limited coupons alloted from outlets</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->