<br /><br /><br /><br />
<h3> ---- Subscribe to TAKEOFF</h3>
<div nz-row>
    <div nz-col nzSpan="6" style='text-align: left'>&nbsp;</div>
    <div nz-col nzSpan="6" style='text-align: left'>Referer ID</div>
    <div nz-col nzSpan="12" style='text-align: left'>
        <input type="text" nz-input placeholder="Enter Referer ID" style='width:60%' />
    </div>

</div>

<div nz-row>
    <div nz-col nzSpan="12" style='text-align: left'>&nbsp;</div>
    <div nz-col nzSpan="12" style='text-align: left'> &nbsp;</div>
</div>


    <div nz-row>
        <div nz-col nzSpan="12" style='text-align: left'>&nbsp;</div>
        <div nz-col nzSpan="12" style='text-align: left'> &nbsp;</div>
    </div>


        <div nz-row>
            <div nz-col nzSpan="6" style='text-align: left'>&nbsp;</div>
            <div nz-col nzSpan="6" style='text-align: left'>Enter Full Name</div>
            <div nz-col nzSpan="12" style='text-align: left'>
                <input type="text" nz-input placeholder="Enter Full Name" style='width:60%' />
            </div>
        </div>

        <div nz-row>
            <div nz-col nzSpan="12" style='text-align: left'>&nbsp;</div>
            <div nz-col nzSpan="12" style='text-align: left'> &nbsp;</div>
        </div>

        <div nz-row>
            <div nz-col nzSpan="6" style='text-align: left'>&nbsp;</div>
            <div nz-col nzSpan="6" style='text-align: left'>Enter Mobile Number </div>
            <div nz-col nzSpan="12" style='text-align: left'>
                <input type="text" nz-input placeholder="Enter Mobile Number" style='width:60%' />
            </div>
        </div>

        <div nz-row>
            <div nz-col nzSpan="12" style='text-align: left'>&nbsp;</div>
            <div nz-col nzSpan="12" style='text-align: left'> &nbsp;</div>
        </div>

        <div nz-row>
            <div nz-col nzSpan="6" style='text-align: left'>&nbsp;</div>
            <div nz-col nzSpan="6" style='text-align: left'>Enter Email Address</div>
            <div nz-col nzSpan="12" style='text-align: left'>
                <input type="text" nz-input placeholder="Enter Email Address" style='width:60%' />
            </div>
        </div>
        <div nz-row>
            <div nz-col nzSpan="12" style='text-align: left'>&nbsp;</div>
            <div nz-col nzSpan="12" style='text-align: left'> &nbsp;</div>
        </div>

        <div nz-row>
            <div nz-col nzSpan="6" style='text-align: left'>&nbsp;</div>
            <div nz-col nzSpan="6" style='text-align: left'> Profession</div>
            <div nz-col nzSpan="12" style='text-align: left'>
                <nz-select  ngModel="lucy">
                    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                    
                  </nz-select>
            </div>
        </div>
        <div nz-row>
            <div nz-col nzSpan="6" style='text-align: left'>&nbsp;</div>
            <div nz-col nzSpan="6" style='text-align: left'>&nbsp;</div>
            <div nz-col nzSpan="12" style='text-align: left'> &nbsp;</div>
        </div>

        <div nz-row>
            <div nz-col nzSpan="6" style='text-align: left'>&nbsp;</div>
            <div nz-col nzSpan="6" style='text-align: left'>Gender</div>
            <div nz-col nzSpan="12" style='text-align: left'>
                <nz-select  ngModel="lucy">
                    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                    
                  </nz-select>
            </div>
        </div>
        <div nz-row>
            <div nz-col nzSpan="12" style='text-align: left'>&nbsp;</div>
            <div nz-col nzSpan="12" style='text-align: left'> &nbsp;</div>
        </div>
        <div nz-row>
            <div nz-col nzSpan="6" style='text-align: left'>&nbsp;</div>
            <div nz-col nzSpan="6" style='text-align: left'>Your City</div>
            <div nz-col nzSpan="12" style='text-align: left'>
                <nz-select  ngModel="lucy">
                    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
                    
                  </nz-select>
            </div>
        </div>
        <div nz-row>
            <div nz-col nzSpan="12" style='text-align: left'>&nbsp;</div>
            <div nz-col nzSpan="12" style='text-align: left'> &nbsp;</div>
        </div>

        <div nz-row>
            <div nz-col nzSpan="6" style='text-align: left'>&nbsp;</div>
            <div nz-col nzSpan="6" style='text-align: left'>Subscription Amount</div>
            <div nz-col nzSpan="12" style='text-align: left'>
                <button nz-button nzType="primary" nzDanger (click)='payment()'>PAY Rs. 1199</button>
            </div>
        </div>

        <div nz-row>
            <div nz-col nzSpan="12" style='text-align: left'>&nbsp;</div>
            <div nz-col nzSpan="12" style='text-align: left'> &nbsp;</div>
        </div>

        <div nz-row>
            <div nz-col nzSpan="24" style='text-align: center'><button nz-button nzType="primary" >Confirm</button></div>

        </div>

        