<section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">
  
      <div class="section-title">
        <h2>Pricing</h2>
        <p>One Year Subscription for Take%OFF Digital Coupons</p>
        <p>Complimentary || Free || Daily Deals || Redeemable || Discount || Limited Digital Coupons</p>
      </div>
  
      <div class="row">
  
         <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
          <div class="box featured">
            <h3>Free Plan</h3>
            <h4><sup>Rs.</sup><s>1199</s> &nbsp; <br/> 0 <span>per Year</span></h4>
            <ul>
              <li><i class="bx bx-check"></i> Discount Coupons</li>
              <li><i class="bx bx-check"></i> Redeemable Coupons</li>
              <li><i class="bx bx-check"></i> Free Coupons</li>
              <li><i class="bx bx-check"></i> Daily Deals</li>
              <li><i class="bx bx-check"></i> Limited Coupons</li>
              <li><i class="bx bx-check"></i> Only 3 Redemptions per Month</li>
              
            </ul>
            <span href="#" class="buy-btn" (click)="open(1)">Subscribe</span>
          </div>
        </div>
  
         <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
          <div class="box featured">
            <h3>Exclusive Plan</h3>
            <h4><sup>Rs.</sup><s>1199</s> &nbsp; 999 <span>per Year</span></h4>
            <ul>
              <li><i class="bx bx-check"></i> Complimentary Coupons</li>
              <li><i class="bx bx-check"></i> Discount Coupons</li>
              <li><i class="bx bx-check"></i> Redeemable Coupons</li>
              <li><i class="bx bx-check"></i> Free Coupons</li>
              <li><i class="bx bx-check"></i> Daily Deals</li>
              <li><i class="bx bx-check"></i> Unlimited Redemptions</li>
            </ul>
            <span href="#" class="buy-btn" (click)="open(2)">Subscribe</span>
          </div>
        </div>
  
        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
          <div>
            &nbsp;
          </div>
        </div>
  
      </div>
  
    </div>
  </section>

