<br/>
<br/><br/><br/>
<div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
    <h1>Take Off Welcomes You.<br/>Enjoy the Experience.</h1>
    </div>



    <zxing-scanner (scanSuccess)="onCodeResult($event)"></zxing-scanner>

    <section class="results" *ngIf="qrResultString">
      <div>
        <small>Result</small>
        <strong>{{ qrResultString }}</strong>
      </div>
      <button (click)="clearResult()"> Result </button>
    </section>