<br/>
<br/>
<br/>
<br/>

<ng-container *ngIf="statusDTO && statusDTO.status">
<nz-result
nzStatus="success"
[nzTitle]="title"
>

<div nz-result-content nz-row>
  <div class="desc"  nz-col nzSpan="24" style='text-align: center'>

    <p nz-paragraph>
      <!-- Your Order Id : <b>{{statusDTO.orderId}} </b><br/>
      Your Payment Id :<b> {{statusDTO.paymentId}}</b><br/>
      Your Login Id / Reference Code : <b>{{statusDTO.referCode}}</b><br/> -->
<!--       Your Reference Code :<b>{{statusDTO.referCode}}</b><br/> -->
      Your Status :<b>Successful</b><br/><br/>
      
    </p>
    <!-- <h4 nz-title>Please check your Mail / SMS for Login Details. <br/>Login & Enjoy the Experience of Digital Coupons</h4> -->
   <h4 nz-title>Login With Your Mobile Number and <br/> Enjoy the Experience of Digital Coupons</h4>
  </div>
</div>

<div nz-result-extra>
  <button nz-button nzType="primary" (click)='login()'>Login</button>
  <button nz-button (click)='home()'>Back Home</button>
</div>
</nz-result>
</ng-container>

<ng-container *ngIf="statusDTO && !statusDTO.status">
  <nz-result
  nzStatus="500"
  [nzTitle]="title"
  [nzSubTitle]="subtitle"
  >
  <div nz-result-extra>
    <button nz-button nzType="primary" (click)='home()'>Back Home</button>
  </div>
  </nz-result>
  </ng-container>


  <ng-container *ngIf="!statusDTO ||  statusDTO === undefined">
  <nz-result nzStatus="403" nzTitle="403" nzSubTitle="Sorry, you are not authorized to access this page.">
    <div nz-result-extra>
      <button nz-button nzType="primary" (click)='home()'>Back Home</button>
    </div>
  </nz-result>
  </ng-container>

<!--nz-result
[(nzStatus)]="status"
[(nzTitle)]="Successfully Purchased Cloud Server ECS!"
[(nzSubTitle)]="Order number: 2017182818828182881 Cloud server configuration takes 1-5 minutes, please wait."
-->



