<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center">

    <!--h1 class="logo mr-auto"><a href="index.html">TAKE OFF</a></h1-->
    <!-- Uncomment below if you prefer to use an image logo -->
   <a href="index.html" class="logo mr-auto"><img src="assets/img/logo-white.png" alt="" class="img-fluid"></a>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="#about" class="btn-get-started scrollto">About</a></li>
        <li><a href="#why-us" class="btn-get-started scrollto">Why TakeOff?</a></li>
        <li><a href="#services" class="btn-get-started scrollto">Products</a></li>
        <li><a href="#pricing" class="btn-get-started scrollto">Pricing</a></li>
      
        <li><a href="#contact" class="btn-get-started scrollto">Contact</a></li>

      </ul>
    </nav><!-- .nav-menu -->

    <a href="#pricing" class="get-started-btn scrollto">Subscribe</a>

    <a href="/login" class="get-started-btn">Login</a>

  </div>
</header><!-- End Header -->