<br /><br /><br /><br />




<h3> ----- TAKEOFF Organisation Structure</h3>

<div nz-row>
    
    <div nz-col nzSpan="12" style='text-align: center'>Display Type</div>
    <div nz-col nzSpan="12" style='text-align: left'>
        <nz-select  [(ngModel)]="type" nzPlaceHolder="Select Display Type" (ngModelChange)='onViewChange()'>
                    
            <nz-option nzValue="0" nzLabel="Tree View "></nz-option>
            
            

          </nz-select>
    </div>

</div>

<div nz-row>
    <div nz-col nzSpan="24" style='text-align: center'>
        <ng-container *ngIf='status'><br/><br/>
        <nz-spin nzSimple [nzSize]="'large'"></nz-spin></ng-container>
        &nbsp;
    
    </div>
   
   
</div>



<div style='text-align: center' class="tf-tree example" [innerHTML]="structure"></div>



