<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">
  
      <!--h1 class="logo mr-auto"><a href="index.html">TAKE OFF</a></h1-->
      <!-- Uncomment below if you prefer to use an image logo -->
     <a href="index.html" style='max-width:160px' class="logo mr-auto"><img src="assets/img/logo-white.png" alt="" class="img-fluid"></a>
  
       



      <!-- .nav-menu -->
      
     

      <a href="/login" id='loginButton' class="get-started-btn">Login</a> &nbsp;&nbsp;

      <div class="dropdown">
        <button style='background: #444444' class="btn btn-secondary dropdown-toggle" type="button"
          id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bars"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a [routerLink]="['']" style=" color: #444444;" class="dropdown-item btn-get-started scrollto"><i
            class="fas fa-home"></i> &nbsp; Home</a>
          <a [routerLink]="['about']" style=" color: #444444;" class="dropdown-item btn-get-started scrollto"><i
              class="fas fa-address-card"></i> &nbsp; About</a>
          <a href="/why-us" style=" color: #444444;" class="dropdown-item btn-get-started scrollto"><i
              class="fas fa-question"></i> &nbsp; Why TakeOff?</a>
          <a href="/services" style=" color: #444444;" class="dropdown-item btn-get-started scrollto"><i
              class="fas fa-clipboard-list"></i> &nbsp; Products</a>
          <a href="/contact" style=" color: #444444;" class="dropdown-item btn-get-started scrollto"><i
              class="fas fa-phone"></i> &nbsp; Contact</a>
          <a href="/pricing" style=" color: #444444;" class="dropdown-item btn-get-started scrollto"><i
              class="fas fa-plane-departure"></i> &nbsp; Sign Up</a>

        </div>
      </div>

    </div>
  </header><!-- End Header -->

  <br/><br/><br/>

  <router-outlet></router-outlet>