<button nz-button nzType="primary" (click)='addCouponTypeView()'>+ Add CouponType</button>

<div nz-row> &nbsp; </div>
<div style='overflow:auto;width:100%;height:100%'>
    <nz-table #basicTable nzShowPagination=true nzBordered [nzData]="couponTypes" [nzLoading]="loading">
        <thead>
            <tr>

                <th [nzSortFn]="sortCId">CouponType Id</th>
                <th [nzSortFn]="sortCName" [nzFilters]="filterCouponType" [nzFilterFn]="couponTypeFilterFn"
                    >CouponType Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of basicTable.data; index as i">

                <td>{{ data.id }}</td>
                <td>{{ data.couponType }}</td>

                <td>
                    <i nz-icon [nzType]="data.couponTypeVisibility?'eye': 'eye-invisible'" nzTheme="outline"
                        (click)="showConfirm(data.couponTypeVisibility?'Hide':'UnHide',data.id)"></i>
                    &nbsp;
                    <i nz-icon nzType="edit" nzTheme="outline"
                        (click)="editId=data.id; editValue=data.couponType; editVisible=true; previewCouponTypeVisible=true;"></i>
                    &nbsp;
                    <i nz-icon nzType="delete" nzTheme="outline"
                        (click)="showConfirm('Delete',data.id )"></i>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>

<nz-modal [nzVisible]="previewCouponTypeVisible" [nzContent]="modalContent" [nzFooter]="null"
    (nzOnCancel)="previewCouponTypeVisible = false; editVisible=false;">
    <ng-template #modalContent>
        <h3> Coupon Type </h3>
        <div nz-row class="container">
            <div nz-col nzSpan="12" style='text-align: left'>Enter Coupon Type</div>
            <div nz-col nzSpan="12" style='text-align: left'>
                <ng-container *ngIf='!editVisible'>
                <input type="text" nz-input placeholder="Enter Coupon Type" style='width:100%'
                    [(ngModel)]='couponTypeName' />
                </ng-container>

                <ng-container *ngIf='editVisible'>
                    <input type="text" nz-input placeholder="Enter Coupon Type" style='width:100%'
                        [(ngModel)]='editValue' />
                    </ng-container>

            </div>
        </div>

        <div nz-row> &nbsp; </div>
        <div nz-row class="container">
            <div nz-col nzSpan="24" style='text-align: right'>
                <ng-container *ngIf='!editVisible'>
                <button nz-button nzType="primary" (click)='addCouponType()'>Add</button>
                </ng-container>

                <ng-container *ngIf='editVisible'>
                    <button nz-button nzType="primary" (click)='editCouponType()'>Edit</button>
                    </ng-container>

            </div>
        </div>
    </ng-template>
</nz-modal>

