<section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Pricing</h2>
        <p>One Year Subscription for Take%OFF Digital Coupons</p>
        <p>Complimentary   ||  Free   ||  Daily Deals   ||  Redeemable   ||  Discount   ||  Limited Digital Coupons</p>
      </div>

      <div class="row">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div>
           &nbsp;
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
          <div class="box featured">
            <h3>Exclusive Plan</h3>
            <h4><sup>Rs.</sup>1199<span>per Year</span></h4>
            <ul>
              <li><i class="bx bx-check"></i> Complimentary Coupons</li>
              <li><i class="bx bx-check"></i> Discount Coupons</li>
              <li><i class="bx bx-check"></i> Redeemable Coupons</li>
              <li><i class="bx bx-check"></i> Free Coupons</li>
              <li><i class="bx bx-check"></i> Daily Deals</li>
              <li><i class="bx bx-check"></i> Limited Coupons</li>
            </ul>
            <span href="#" class="buy-btn" (click)="open()">Subscribe</span>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
          <div >
           &nbsp;
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Pricing Section -->


  
  <nz-drawer
    [nzBodyStyle]="{ overflow: 'auto' }"
    [nzMaskClosable]="false"
    [nzWidth]="720"
    [nzVisible]="visible"
    nzTitle="Create"
    [nzFooter]="footerTpl"
    (nzOnClose)="close()"
    nzPlacement="bottom"
  >
    <form nz-form *nzDrawerContent>
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label>Name</nz-form-label>
            <nz-form-control>
              <input nz-input placeholder="please enter user name" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label>Url</nz-form-label>
            <nz-form-control>
              <nz-input-group nzAddOnBefore="http://" nzAddOnAfter=".com">
                <input type="text" nz-input placeholder="please enter url" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      
      
      <div nz-row [nzGutter]="8">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label>Description</nz-form-label>
            <nz-form-control>
              <textarea
                nz-input
                placeholder="please enter url description"
                [nzAutosize]="{ minRows: 4, maxRows: 4 }"
              ></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>

    <ng-template #footerTpl>
      <div style="float: right">
        <button nz-button style="margin-right: 8px;" (click)="close()">Cancel</button>
        <button nz-button nzType="primary" (click)="close()">Submit</button>
      </div>
    </ng-template>
  </nz-drawer>