<section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Pricing</h2>
        <p>One Year Subscription for Take%OFF Digital Coupons</p>
        <p>Complimentary   ||  Free   ||  Daily Deals   ||  Redeemable   ||  Discount   ||  Limited Digital Coupons</p>
      </div>

      <div class="row">

        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="box">
           &nbsp;
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
          <div class="box featured">
            <h3>Exclusive Plan</h3>
            <h4><sup>Rs.</sup>1199<span>per Year</span></h4>
            <ul>
              <li><i class="bx bx-check"></i> Complimentary Coupons</li>
              <li><i class="bx bx-check"></i> Discount Coupons</li>
              <li><i class="bx bx-check"></i> Redeemable Coupons</li>
              <li><i class="bx bx-check"></i> Free Coupons</li>
              <li><i class="bx bx-check"></i> Daily Deals</li>
              <li><i class="bx bx-check"></i> Limited Coupons</li>
            </ul>
            <a href="#" class="buy-btn">Subscribe</a>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
          <div class="box">
           &nbsp;
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Pricing Section -->