<ng-container *ngIf='loading'>
    <div nz-row>

        &nbsp;
    </div>

    <div nz-row>
        <div nz-col nzSpan="24" style='text-align: center'>
            <nz-spin nzTip="Preparing Your Wallet..... " nzSimple [nzSize]="'large'"></nz-spin>
        </div>
    </div>
</ng-container>
<ng-container *ngIf='!loading'>
    <hr />


    <div nz-row>

        <div nz-col nzSpan="12" style='text-align: center'>

            <h3>Your Wallet Amount</h3>
        </div>

        <!--         <div nz-col nzSpan="6" style='text-align: center'>
            <ng-container *ngIf="kycDetails && kycDetails.referals != 0">
                <p><b>With KYC</b></p>

                <h2 style='color:green'>{{(kycDetails.referals)*475}} Rs.</h2>
                <p>{{(kycDetails.referals)*500}} rs - (5% tax)</p>
            </ng-container>
            <ng-container *ngIf="!kycDetails || kycDetails.referals == 0">
                <h2 style='color:green'> 0 Rs.</h2>

            </ng-container>


        </div>
        <div nz-col nzSpan="6" style='text-align: center'>
            <ng-container *ngIf="kycDetails && kycDetails.referals != 0">
                <p><b>Without KYC</b></p>

                <h4 style='color:red'>{{(kycDetails.referals)*400}} Rs.</h4>
                <p>{{(kycDetails.referals)*500}} rs - (20% tax)</p>
            </ng-container>
            <ng-container *ngIf="!kycDetails || kycDetails.referals == 0">
                &nbsp;
            </ng-container>

        </div> -->

        <div nz-col nzSpan="6" style='text-align: center'>

            <h3>&#x20B9; {{kycDetails.walletAmount}}</h3>

        </div>
        <div nz-col nzSpan="6" style='text-align: center'>

            &nbsp;
        </div>

    </div>




    <hr />

    <div nz-row>

        <div nz-col nzSpan="24" style='text-align: center'>


            <h6>Update KYC</h6>

        </div>
    </div>

    <div nz-row>

        &nbsp;
    </div>


    <div nz-row>

        <div nz-col nzSpan="4" style='text-align: center'>

            &nbsp;
        </div>

        <div nz-col nzSpan="6" style='text-align: center'>

            PAN
        </div>

        <div nz-col nzSpan="14" style='text-align: left'>

            <input
                [readonly]="kycDetails && (kycDetails.panStatus === 'Submitted' || kycDetails.panStatus==='Approved')"
                type="text" [(ngModel)]='kycDetails.pan' nz-input placeholder="Enter PAN" style='width:200px' />


            <!--             <ng-container *ngIf="(kycDetails && (kycDetails.panStatus === 'Submitted'))">

                &nbsp;&nbsp; <i nz-icon nzType="loading" nzTheme="outline"></i> &nbsp;&nbsp; Awaiting Approval
            </ng-container> -->

            <ng-container *ngIf="(kycDetails && (kycDetails.panStatus === 'Rejected'))">

                &nbsp;&nbsp; <span style='color:red'><i nz-icon nzType="close-circle" nzTheme="outline"></i>
                    &nbsp;&nbsp;
                    Rejected
                </span>
            </ng-container>

            <ng-container *ngIf="(kycDetails && (kycDetails.panStatus === 'Approved'))">

                &nbsp;&nbsp; <span style='color:green'><i nz-icon nzType="check-circle" nzTheme="outline"></i>
                    &nbsp;&nbsp; Approved

                </span>
            </ng-container>

        </div>
    </div>

    <div nz-row>

        &nbsp;
    </div>
    <ng-container *ngIf="!(kycDetails && (kycDetails.panStatus === 'Submitted' || kycDetails.panStatus==='Approved'))">

        <div nz-row>

            <div nz-col nzSpan="24" style='text-align: center'>


                <button nz-button nzType="primary" (click)='updatePAN()'> Update PAN </button>





            </div>
        </div>
    </ng-container>
    <div nz-row>

        &nbsp;
    </div>


    <div nz-row>

        <div nz-col nzSpan="4" style='text-align: center'>

            &nbsp;
        </div>

        <div nz-col nzSpan="6" style='text-align: center'>

            NAME as per Your Bank Account
        </div>

        <div nz-col nzSpan="14" style='text-align: left'>

            <input type="text"
                [readonly]="kycDetails && (kycDetails.kycStatus === 'Submitted'|| kycDetails.kycStatus==='Approved')"
                [(ngModel)]='kycDetails.cname' nz-input placeholder="Enter Name" style='width:200px' />

            <!--             <ng-container *ngIf="(kycDetails && (kycDetails.kycStatus === 'Submitted'))">

                &nbsp;&nbsp; <i nz-icon nzType="loading" nzTheme="outline"></i> &nbsp;&nbsp; Awaiting Approval
            </ng-container> -->

            <ng-container *ngIf="(kycDetails && (kycDetails.kycStatus === 'Rejected'))">

                &nbsp;&nbsp; <span style='color:red'><i nz-icon nzType="close-circle" nzTheme="outline"></i>
                    &nbsp;&nbsp;
                    Rejected
                </span>
            </ng-container>

            <ng-container *ngIf="(kycDetails && (kycDetails.kycStatus === 'Approved'))">

                &nbsp;&nbsp; <span style='color:green'><i nz-icon nzType="check-circle" nzTheme="outline"></i>
                    &nbsp;&nbsp; Approved
                </span>
            </ng-container>

        </div>
    </div>


    <div nz-row>

        &nbsp;
    </div>

    <div nz-row>

        <div nz-col nzSpan="4" style='text-align: center'>

            &nbsp;
        </div>

        <div nz-col nzSpan="6" style='text-align: center'>

            Bank Name
        </div>

        <div nz-col nzSpan="14" style='text-align: left'>

            <input type="text"
                [readonly]="kycDetails && (kycDetails.kycStatus === 'Submitted'|| kycDetails.kycStatus==='Approved')"
                [(ngModel)]='kycDetails.bname' nz-input placeholder="Enter Bank Name" style='width:200px' />
            <!--             <ng-container *ngIf="(kycDetails && (kycDetails.kycStatus === 'Submitted'))">

                &nbsp;&nbsp; <i nz-icon nzType="loading" nzTheme="outline"></i> &nbsp;&nbsp; Awaiting Approval
            </ng-container>
 -->
            <ng-container *ngIf="(kycDetails && (kycDetails.kycStatus === 'Rejected'))">

                &nbsp;&nbsp; <span style='color:red'><i nz-icon nzType="close-circle" nzTheme="outline"></i>
                    &nbsp;&nbsp;
                    Rejected
                </span>
            </ng-container>

            <ng-container *ngIf="(kycDetails && (kycDetails.kycStatus === 'Approved'))">

                &nbsp;&nbsp; <span style='color:green'><i nz-icon nzType="check-circle" nzTheme="outline"></i>
                    &nbsp;&nbsp; Approved
                </span>
            </ng-container>

        </div>
    </div>


    <div nz-row>

        &nbsp;
    </div>

    <div nz-row>

        <div nz-col nzSpan="4" style='text-align: center'>

            &nbsp;
        </div>

        <div nz-col nzSpan="6" style='text-align: center'>

            Bank Account Number
        </div>

        <div nz-col nzSpan="14" style='text-align: left'>

            <input type="text"
                [readonly]="kycDetails && (kycDetails.kycStatus === 'Submitted'|| kycDetails.kycStatus==='Approved')"
                [(ngModel)]='kycDetails.account' nz-input placeholder="Enter Account" style='width:200px' />
            <!--             <ng-container *ngIf="(kycDetails && (kycDetails.kycStatus === 'Submitted'))">

                &nbsp;&nbsp; <i nz-icon nzType="loading" nzTheme="outline"></i> &nbsp;&nbsp; Awaiting Approval
            </ng-container> -->

            <ng-container *ngIf="(kycDetails && (kycDetails.kycStatus === 'Rejected'))">

                &nbsp;&nbsp; <span style='color:red'><i nz-icon nzType="close-circle" nzTheme="outline"></i>
                    &nbsp;&nbsp;
                    Rejected
                </span>
            </ng-container>

            <ng-container *ngIf="(kycDetails && (kycDetails.kycStatus === 'Approved'))">

                &nbsp;&nbsp; <span style='color:green'><i nz-icon nzType="check-circle" nzTheme="outline"></i>
                    &nbsp;&nbsp; Approved
                </span>
            </ng-container>

        </div>
    </div>


    <div nz-row>

        &nbsp;
    </div>


    <div nz-row>

        <div nz-col nzSpan="4" style='text-align: center'>

            &nbsp;
        </div>

        <div nz-col nzSpan="6" style='text-align: center'>

            IFSC Number
        </div>

        <div nz-col nzSpan="14" style='text-align: left'>

            <input type="text"
                [readonly]="kycDetails && (kycDetails.kycStatus === 'Submitted'|| kycDetails.kycStatus==='Approved')"
                [(ngModel)]='kycDetails.ifsc' nz-input placeholder="Enter IFSC" style='width:200px' />
            <!--             <ng-container *ngIf="(kycDetails && (kycDetails.kycStatus === 'Submitted'))">

                &nbsp;&nbsp; <i nz-icon nzType="loading" nzTheme="outline"></i> &nbsp;&nbsp; Awaiting Approval
            </ng-container> -->

            <ng-container *ngIf="(kycDetails && (kycDetails.kycStatus === 'Rejected'))">

                &nbsp;&nbsp; <span style='color:red'><i nz-icon nzType="close-circle" nzTheme="outline"></i>
                    &nbsp;&nbsp;
                    Rejected
                </span>
            </ng-container>

            <ng-container *ngIf="(kycDetails && (kycDetails.kycStatus === 'Approved'))">

                &nbsp;&nbsp;
                <span style='color:green'><i nz-icon nzType="check-circle" nzTheme="outline"></i>
                    &nbsp;&nbsp; Approved
                </span>

            </ng-container>

        </div>
    </div>


    <div nz-row>

        &nbsp;
    </div>


    <div nz-row>


        <div nz-col nzSpan="4" style='text-align: center'>

            &nbsp;
        </div>



        <div nz-col nzSpan="6" style='text-align: center'> Bank Statement



        </div>

        <div nz-col nzSpan="14" style='text-align: left'>

            <ng-container
                *ngIf="!(kycDetails && (kycDetails.kycStatus === 'Submitted' || kycDetails.kycStatus==='Approved'))">

                <nz-upload nz-Accept="image/jpeg" [nzBeforeUpload]="beforeUpload">
                    <button nz-button [disabled]="loading"><span nz-icon nzType="upload"></span></button>
                </nz-upload>
            </ng-container>

            <ng-container *ngIf='imageSrc.length > 30'>
                <br />
                <div style='max-width:50%; max-height:30%;text-align:left'>
                    <img class="img-fluid img-thumbnail" [src]='imageSrc'>

                </div>

            </ng-container>


        </div>
    </div>

    <div nz-row>

        &nbsp;
    </div>


    <ng-container *ngIf="!(kycDetails && (kycDetails.kycStatus === 'Submitted' || kycDetails.kycStatus==='Approved'))">

        <div nz-row>

            <div nz-col nzSpan="24" style='text-align: center'>


                <button nz-button nzType="primary" (click)='updateKYC()'> Update Bank Details </button>

            </div>
        </div>
    </ng-container>

</ng-container>

<div nz-row>

    &nbsp;
</div>